<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Schema List</title>
    <meta charset="UTF-8">
</head> 	
<body>

<h2>Schema Records</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${employees}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.city}"></td>
			<td> <a th:href="@{/editEmployee/{id}(id=${employee.id})}">
				Edit
				<a>
			</td>
			<td> <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}>
				Delete
			<a> 
			</td>	
        </tr>
    </tbody>
</table>

</body>
</html>